body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #0b090a;
    flex-direction: row;
}
h1 {
    color: #0b090a;
    font-size: 70px;
    background-color: #e5383b;
    padding: 10px;
    border: 5px solid #ffffff;
}
.navLink:link, .chat:link {
    display: inline-flex;
    padding: 50px;
    font-size: 25px;
    color: #e5383b;
}
.navLink:visited, .chat:visited {
    color: #e5383b;
}
.navLink:hover, .chat:hover {
    transform: scale(150%);
    cursor: pointer;
    color: #ffffff;
}
.navLink:focus, .chat:focus {
    color: #a4161a;
}
.gradient {
    padding: 80px;
    background-image: linear-gradient(#0b090a, #161a1d, #660708,#a4161a,#ba181b,#e5383b,#b1a7a6,#d3d3d3,#ffffff);
}
.subtitle {
    display: flex;
    justify-content: center;
    margin: auto;
}
h2 {
    border: 5px solid #0b090a;
    background-color: #e5383b;
    color: #0b090a;
    font-size: 50px;
}
 h3 {
     border: 5px solid #0b090a;
    background-color: #e5383b;
    color: #0b090a;
    font-size: 40px;
}
.titles {
    display:flex;
    margin: 50px 100px;
}
#work {
    background-color: #e5383b;
    padding: 0;
}
.para1 {
    border-left: 5px solid #e5383b;
    padding: 20px;
    font-size: 20px;
    background-color: #d3d3d3;
}
.comingSoon {
    display: flex;
    border: 5px solid #e5383b;
    border-collapse: collapse;
    width: 68%;
    margin-left: 360px;
    background-color: #0b090a;
}
.box {
    display: flex;
    border: 5px solid #e5383b;
    margin: 10px;
    width: 68%;
    background-color: #0b090a;
    margin-left: 360px;
}
.label {
    display: flex;
    background-color: #e5383b;
    height: 25%;
    font-size: 35px;
}
.imgLink:hover {
    opacity: 50%;
}
.photo {
    display: flex;
    margin: auto;
    width: 300px;
    height: 400px;
}

.deployed {
    width: 500px;
    height: 300px;
}
.reverse {
    padding: 80px;
    margin-top: 50px;
    background-image: linear-gradient(#ffffff, #d3d3d3, #b1a7a6, #e5383b, #ba181b, #a4161a, #660708, #161a1d, #0b090a);
}
#contact {
    border: 5px solid #ffffff;
}
.h4Link:visited {
    color: #0b090a;
}
.h4Link:link {
    color: #0b090a;
}
@media (max-width: 480px) {
    footer {
        flex-direction: column;
    }
    .chat {
        margin-left: 70px;
    }
    header {
        flex-direction:column;
    }
    article {
        flex-direction:column;
        align-items: center;
    }
    p{
        width: 50%;
        margin: 0;

    }
    .comingSoon {
        width: 100%;
        flex-direction:column;
        margin-left: 0;
    }
    .box {
        width: 100%;
        flex-direction:column;
        margin-left: 0;
    }
    .imgLink {
        width:fit-content;
    }
}
@media (max-width: 600px) {
    footer {
        flex-direction: column;
    }
    .chat {
        margin-left: 70px;
    }
    header {
        flex-direction:column;
    }
    article {
        flex-direction:column;
        align-items: center;
    }
    p{
        width: 50%;
        margin: 0;

    }
    .comingSoon {
        width: 100%;
        flex-direction:column;
        margin-left: 0;
    }
    .box {
        width: 100%;
        flex-direction:column;
        margin-left: 0;
    }
    .imgLink {
        width:fit-content;
    }
}
@media (max-width: )