/*added a bunch of variables for repeated values*/
:root {
    --columnDirection: column;
    --blackColor: #0b090a;
    --redColor: #e5383b;
    --whiteColor: #ffffff;
    --flexDisplay: flex;
    --borderRed: 5px solid #e5383b;
    --borderBlack: 5px solid #0b090a;
    --borderWhite: 5px solid #ffffff;
    --width100: 100%;
    --marginFifty: 50px;
    --alignItems: center;
    --marginZero: 0;
}
body {
    margin: var(--marginZero);
    background-color: var(--whiteColor);
}
header, footer {
    display: var(--flexDisplay);
    justify-content: space-between;
    background-color: var(--blackColor);
    flex-direction: row;
}
h1 {
    color: var(--blackColor);
    font-size: 70px;
    background-color: var(--redColor); 
    border: var(--borderWhite);
}
.navLink:link, .chat:link {
    display: inline-flex;
    padding: 50px;
    font-size: 25px;
    color: var(--redColor);
}
.navLink:visited, .chat:visited {
    color: var(--redColor);
}
.navLink:hover, .chat:hover {
    transform: scale(110%);
    cursor: pointer;
    color: var(--whiteColor);
}
.navLink:focus, .chat:focus {
    color: var(--redColor);
}
.gradient {
    padding: 60px;
    background-image: linear-gradient(var(--blackColor), #161a1d, #660708,#a4161a,#ba181b,var(--redColor),#b1a7a6,#d3d3d3,var(--whiteColor));
}
main {
    display: var(--flexDisplay);
    flex-direction: var(--columnDirection);
    justify-content: space-between;
}
/*removed margin:auto now that I fixed flexbox*/
.subtitle, figure, .align {
    display: var(--flexDisplay);
    justify-content: center;
}
h2 {
    border: var(--borderBlack);
    background-color: var(--redColor);
    color: var(--blackColor);
    font-size: 50px;
}
/*removed margin and flex*/
.photo {
    width: 300px;
    height: 400px;
}
#teddy {
    margin: 100px;
}
#family {
    margin-top: var(--marginFifty);
    width: 650px;
    height: 500px;
}
article {
    display: var(--flexDisplay);
    flex-direction: var(--columnDirection);
    align-items: flex-start;
    margin-left: var(--marginFifty);
}
h3 {
    border: var(--borderBlack);
    background-color: var(--redColor);
    color: var(--blackColor);
    font-size: 40px;
    margin: var(--marginFifty);
}
p {
    margin-left: var(--marginFifty);
    margin-right: var(--marginFifty);
    border-left: var(--borderRed);
    padding: 20px;
    font-size: 20px;
    background-color: #d3d3d3;
}
/*think I finally got the flexbox working*/
section {
    display: var(--flexDisplay);
    align-items: flex-start;
    flex-direction: column;
    margin-left: var(--marginFifty);
}
.center {
    display: var(--flexDisplay);
    flex-direction: var(--columnDirection);
    align-items: var(--alignItems);
}
.comingSoon {
    display: var(--flexDisplay);
    align-items: var(--alignItems);
    border: var(--borderRed);
    width: 51%;
    background-color: var(--blackColor);
}
.deployed {
    width: var(--width100);
    height: 100%;
}
.refactor, .me {
    display: var(--flexDisplay);
    border: var(--borderRed);
    margin-top: 10px;
    width: 25%;
    background-color: var(--blackColor);
}
.me {
    margin-left: 10px;
}
h4 {
    display: var(--flexDisplay);
    background-color: var(--redColor);
    height: 35%;
    font-size: 35px;
}
.imgLink:hover {
    opacity: 50%;
}
.reverse {
    padding: 60px;
    margin-top: var(--marginFifty);
    background-image: linear-gradient(var(--whiteColor), #d3d3d3, #b1a7a6, var(--redColor), #ba181b, #a4161a, #660708, #161a1d, var(--blackColor));
}
#contact {
    border: var(--borderWhite);
}
.h4Link:visited {
    color: var(--blackColor);
}
.h4Link:link {
    color: var(--blackColor);
}
/*changed images to be reponsive to screen size*/
@media screen and (max-width: 320px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    h1 {
        font-size: 40px;
    }
    p {
        width:var(--width100);
        margin: var(--marginZero);
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        font-size: 25px;
    }
    #projects {
        margin: var(--marginFifty);
    }
    h2 {
        font-size: 30px;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        margin: var(--marginZero);
        width: 250px;
        height: 300px;
    }
    #teddy {
        margin: var(--marginZero);
    }
    h4 {
        font-size: 25px;
    }
    .comingSoon, .refactor, .me {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: var(--width100);
    }
}
@media screen and (max-width: 600px) {
    header, footer{
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        padding: 0;
    }
    /*can't remove left margin for some reason*/
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        width: var(--marginFifty);
    }
    #teddy {
        margin: var(--marginZero);
    }
    #projects {
        margin-left: var(--marginFifty);
    }
    .comingSoon, .refactor, .me {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: var(--width100);
    }
}
@media screen and (max-width: 768px) {
    header, footer{
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        width: var(--width100);
    }
    #teddy {
        margin: var(--marginZero);
    }
    #projects {
        margin-left: var(--marginFifty);
    }
    .comingSoon, .refactor, .me {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: var(--width100);
    }
}

@media screen and (max-width: 800px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        width: var(--width100);
    }
    #teddy {
        margin: var(--marginZero);
    }
    #projects {
        margin-left: var(--marginFifty);
    }
    .comingSoon, .refactor, .me {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .imgLink {
        width: var(--width100);
    }
}
@media screen and (max-width: 1024px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        width: var(--width100);
    }
    #teddy {
        margin: var(--marginZero);
    }
    #projects {
        margin-left: var(--marginFifty);
    }
    .comingSoon, .refactor, .me {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: var(--width100);
    }
}
