body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
}
header {
    display:flex;
    justify-content: space-between;
    background-color: #0b090a;
    flex-direction: row;
    flex-wrap: nowrap;
}
h1 {
    color: #0b090a;
    font-size: 70px;
    background-color: #e5383b;
    padding: 10px;
}
a:link {
    display: inline-flex;
    padding: 50px;
    font-size: 25px;
    color: #e5383b;
}
a:visited {
    color: #e5383b;
}
a:hover {
    transform: scale(150%);
    cursor: pointer;
    color: #ffffff;
}
a:focus {
    color: #a4161a;
}
.gradient {
    padding: 80px;
    font-size: 25px;
    color:#0b090a;
    background-image: linear-gradient(#0b090a, #161a1d, #660708,#a4161a,#ba181b,#e5383b,#b1a7a6,#d3d3d3,#f5f3f4,#ffffff);
}
.subtitle {
    display:flex;
    justify-content: flex-end;
}
h2 {
    margin-bottom: 125px;
    margin-right: 50px;
    background-color: #e5383b;
    color: #0b090a;
    font-size: 50px;
}
