/*added a bunch of variables for repeated values*/
:root {
    --columnDirection: column;
    --blackColor: #0b090a;
    --redColor: #e5383b;
    --whiteColor: #ffffff;
    --flexDisplay: flex;
    --borderRed: 5px solid #e5383b;
    --borderBlack: 5px solid #0b090a;
    --borderWhite: 5px solid #ffffff;
    --width100: 100%;
    --marginFifty: 50px;
    --alignItems: center;
    --marginZero: 0;
}
header, footer {
    display: var(--flexDisplay);
    justify-content: space-between;
    background-color: var(--blackColor);
    flex-direction: row;
}
h1 {
    color: var(--blackColor);
    font-size: 70px;
    background-color: var(--redColor); 
    border: var(--borderWhite);
}
.navLink, .chat {
    font-size: 25px;
}
.navLink:link, .chat:link {
    display: inline-flex;
    padding: 0 50px;
    color: var(--redColor);
}
.navLink:visited, .chat:visited {
    color: var(--redColor);
}
.navLink:hover, .chat:hover {
    transform: scale(110%);
    cursor: pointer;
    color: var(--whiteColor);
}
.navLink:focus, .chat:focus {
    color: var(--redColor);
}
.gradient {
    padding: 60px;
    background-image: linear-gradient(var(--blackColor), #161a1d, #660708,#a4161a,#ba181b,var(--redColor),#b1a7a6,#d3d3d3,var(--whiteColor));
}

.subtitle, figure /*.align*/ {
    display: var(--flexDisplay);
    justify-content: center;
}
h2 {
    border: var(--borderBlack);
    background-color: var(--redColor);
    color: var(--blackColor);
    font-size: 50px;
}
/*removed margin and flex*/
.photo {
    width: 300px;
    height: 400px;
    border: var(--borderRed)
}
.teddy {
    margin: 100px;
}
/*couldn't get the border to fit properly*/
#family {
    margin-top: var(--marginFifty);
    width: 650px;
    height: 500px;
    border: var(--borderRed);
}
article {
    display: var(--flexDisplay);
    flex-direction: var(--columnDirection);
}
h3 {
    border: var(--borderBlack);
    background-color: var(--redColor);
    color: var(--blackColor);
    font-size: 40px;
    margin-left: 25px;
}
p, li{
    border-left: var(--borderRed);
    font-size: 20px;
    background-color: #d3d3d3;
    margin: 10px 30px;
}
/*think I finally got the flexbox working*/
section {
    display: var(--flexDisplay);
    align-items: flex-start;
    flex-direction: column;
    /* margin-left: var(--marginFifty); */
}
.center {
    display: var(--flexDisplay);
    flex-direction: var(--columnDirection);
    align-items: var(--alignItems);
}
.forecast {
    display: var(--flexDisplay);
    align-items: var(--alignItems);
    border: var(--borderRed);
    background-color: var(--blackColor);
    height: 35%;
}
.deployed {
    width: 100%;
}
.weather, .planner {
    display: var(--flexDisplay);
    border: var(--borderRed);
    margin-top: 10px;
    background-color: var(--blackColor);
}

h4 {
    display: var(--flexDisplay);
    background-color: var(--redColor);
    height: 35%;
    font-size: 30px;
}
.imgLink:hover {
    opacity: 50%;
}
.reverse {
    padding: 60px;
    margin-top: var(--marginFifty);
    background-image: linear-gradient(var(--whiteColor), #d3d3d3, #b1a7a6, var(--redColor), #ba181b, #a4161a, #660708, #161a1d, var(--blackColor));
}
#contact {
    border: var(--borderWhite);
}
.h4Link:visited {
    color: var(--blackColor);
}
.h4Link:link {
    color: var(--blackColor);
}
aside {
    display: var(--flexDisplay);
    justify-content: center;
    align-items: center;
}
.repoLink:link {
    margin-left: 10px;
    color: var(--blackColor);
    padding: 10px;

}
.repoLink:visited {
    color: var(--blackColor);
}
.repoLink:hover {
    cursor: pointer;
    color: var(--whiteColor);
}


/*changed images to be reponsive to screen size*/

@media screen and (max-width: 1024px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
  
    .teddy {
        margin: var(--marginZero);
    }
    .deployed {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: 75%;
    }
    .repoLink {
        font-size: 25px;
    }
    .chat {
        font-size: 20px;
    }
}
@media screen and (max-width: 800px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    section {
        margin: var(--marginZero);
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    .teddy {
        margin: var(--marginZero);
    }
    .deployed {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .imgLink {
        width: var(--width100);
    }
}
@media screen and (max-width: 768px) {
    header, footer{
        flex-direction:var(--columnDirection);
    }
    /*can't get p to center*/
    p {
        width:var(--width100);
        margin: auto;
        padding: 0;
    }
    .forecast, .weather, .planner {
        margin: var(--marginZero);
        flex-direction: column;
    }
    section {
        margin: var(--marginZero);
    }
    h1 {
        font-size: 40px;
        margin: auto;
    }
    h2 {
        font-size: 30px;
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        align-items: center;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    .teddy {
        margin: var(--marginZero);
    }
    .deployed {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .imgLink {
        width: var(--width100);
    }
    .repoLink {
        font-size: 20px;
    }
    .navLink {
        font-size: 20px;
    }
    #about {
        margin: auto;
        margin-top: 10px;
    }
    #projects {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    header, footer {
        flex-direction:var(--columnDirection);
    }
    h1 {
        font-size: 30px;
        margin: auto;
    }
    p {
        width:var(--width100);
        margin: var(--marginZero);
        font-size: 15px;
        padding: 0;
    }
    .forecast, .weather, .planner {
        margin: var(--marginZero);
        flex-direction: column;
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        margin: var(--marginZero);
        width: 80%;
        height: 300px;
    }
    .teddy {
        margin: var(--marginZero);
        width: 80%;
    }
    h4 {
        font-size: 25px;
    }
    .deployed {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .me {
        margin-left: 10px;
    }
    .imgLink {
        width: var(--width100);
    }
    .repoLink {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .chat {
        font-size: 18px;
    }
    #about {
        margin: auto;
        margin-top: 10px;
    }
    #projects {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 320px) {
    header, footer {
        flex-direction:var(--columnDirection);
        margin: var(--marginZero)
    }
    h1 {
        font-size: 30px;
        margin: auto;
    }
    p {
        width:100;
        margin: var(--marginZero);
        padding: 0;
        font-size: 16px;
    }
    .forecast, .weather, .planner {
        margin: var(--marginZero);
        flex-direction: column;
    }
    h3, figure {
        flex-direction:var(--columnDirection);
        font-size: 25px;
        margin: var(--marginZero);
        justify-content: center;
    }
    h2 {
        font-size: 20px;
    }
    figure {
        width: var(--width100);
        margin: var(--marginZero);
    }
    #family {
        margin: var(--marginZero);
        width: 100% !important;
        height: 300px;
    }
    .teddy {
        margin: var(--marginZero);
        width: 100% !important;
    }
    h4 {
        font-size: 25px;
    }
    .deployed {
        width:var(--width100);
        flex-direction:var(--columnDirection);
    }
    .imgLink {
        width: var(--width100);
    }
    .repoLink {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .chat {
        font-size: 16px;
    }
    #about {
        margin: auto;
        margin-top: 10px;
    }
    #projects {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}



